<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Task Manager</title>
  </head>
  <body>
    <% @tasks.each do |task| %>
    <h3><%= task.title %></h3>
    <h3><%= task.description %></h3>
    <% end %>
  </body>
</html>
